* {
  margin: 0;
  padding: 0;
}

body {
  font-family: arial, helvetica, sans-serif;
  font-size: 12px;
}
.cabeçalho {
  background-color: rgb(71, 80, 80);
}
h1 {
  color: #c0c0c0;
  font-family: arial helvetica, sans-serif;
  margin-left: 50px;
}

.Menu {
  list-style: none;
  border: 1px solid #c0c0c0;
  float: left;
}

.Menu li {
  position: relative;
  float: left;
  border-right: 1px solid #c0c0c0;
}
.Menu li a {
  color: #333;
  text-decoration: none;
  padding: 1px 30px;
  display: block;
}

.Menu li a:hover {
  background: #333;
  color: #fff;
  box-shadow: #333;
  -moz-box-shadow: 0 1px 10px 0 #ccc;
  -webkit-box-shadow: 0 3px 10px 0 #ccc;
  text-shadow: 0px 0px 5px #fff;
}

.Menu li ul {
  position: absolute;
  top: 16px;
  left: 0px;
  background-color: #fff;
  display: none;
}

.Menu li:hover ul,
.Menu li.over ul {
  display: block;
}

.Menu li ul li {
  border: 1px solid #c0c0c0;
  display: block;
  width: 100px;
}
